// Fat Free CRM
// Copyright (C) 2008-2011 by Michael Dvorkin
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
//------------------------------------------------------------------------------

$color_header: #31708A;
$color_header_background: #C5E2E9;
$color_logo: #31708A;
$color_tab: white;
$color_tab_background: #466bb1;
$color_active_tab: navy;
$color_active_tab_background: azure;
$color_hover_tab: navy;
$color_hover_tab_background: #97baff;
$size_tab_height: 26px;
$size_tab_width: 80px;
$color_footer: grey;

// Header, tabs, and footer.
//------------------------------------------------------------------------------
#header {
  background: $color_header_background;
  color: $color_header;
  padding: 8px 16px 8px 16px;
  h3 a {
    background: $color_header_background;
    color: $color_logo;
    font: normal 15px "Lucida Grande", Arial, Helvetica, sans-serif;
    text-decoration: none; }
  #welcome {
    float: right;
    font-size: 11px;
    a {
      color: #31708A;
      padding: 1px 4px 2px 4px;
      text-decoration: none;
      &:hover {
        background: $color_header_background;
        color: yellow; } }
    a.selected {
      background: steelblue;
      color: lightyellow;
      -moz-border-radius: {
        topleft: 2px;
        topright: 2px; };
      -webkit-border: {
        top-left-radius: 2px;
        top-right-radius: 2px; }; } }
  #jumpbox {
    background: steelblue;
    margin: 2px 0px 0px 0px;
    padding: 12px;
    position: absolute;
    -moz-border-radius: {
      bottomleft: 6px;
      bottomright: 6px; };
    -webkit-border: {
      bottom-left-radius: 6px;
      bottom-right-radius: 6px; };
    #jumpbox_menu {
      a {
        color: white;
        padding: 0px 0px 4px 0px;
        &.selected {
          color: navy; }
        &:hover {
          background: steelblue; } } }
    #jumpbox_label {
      color: white; }
    input {
      margin: 2px 0px 0px 0px; } } }

#tabs {
  background: $color_header_background;
  height: $size_tab_height;
  padding: 0px;
  text-align: center;
  width: 100%;
  ul {
    // :margin 0px 25%,  18% for 5th tab
    margin-left: 15px; }
  li {
    float: left;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    margin: 0px 4px 0px 1px; }
  a:link, a:visited {
    img {
      background: none;
      vertical-align: bottom;
      float: none;
      margin-right: 7px; }
    background: $color_tab_background;
    color: white;
    float: left;
    padding: 4px 15px 6px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: {
      topleft: 3px;
      topright: 3px; };
    -webkit-border-top: {
      left-radius: 3px;
      right-radius: 3px; }; }
  a:hover {
    background: $color_hover_tab_background;
    color: $color_hover_tab; }
  a:link.active, a:visited.active {
    background: $color_active_tab_background;
    color: $color_active_tab;
    text-decoration: none; } }

#footer {
  color: $color_footer;
  font-size: 10px;
  padding: 0px 0px 0px 16px; }
